---
import JsonExplorer from '../components/JsonExplorer.astro';
import TrackVisualiser from '../components/TrackVisualiser.astro';
import '../styles/global.css';
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>F1 Explorer</title>
    </head>
    <body>
        <JsonExplorer />
        <hr />
        <TrackVisualiser />
    </body>
</html>