---
import TrackVisualiser from '../components/TrackVisualiser.astro';
import RaceCalendar from '../components/RaceCalendar.astro';
import '../styles/global.css';
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>F1 Explorer</title>
    </head>
    <body>
        <TrackVisualiser />
        <hr />
        <RaceCalendar />
    </body>
</html>